/* TODO */
html { overflow: hidden; }
a {
    text-decoration:none;
}
#page
{
    background: url("../index.jpeg");
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    background-size: 100%, 100%;
}
#main, #scoreboard, #login,#game, #registration
{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    visibility: hidden;
    /*left: 5%;
    right: 5%;
    top :5%;
    bottom: 5%;*/
}

.header
{
    width: 70%;
    color:white;
    text-align: center;
    height : 15%;
    margin-left: 15%;
    margin-right: 15%;
    font-size:5.5vh ;
    /*margin-top: 10%;
    margin-bottom:10% ;*/
}

#main__container
{
    position: absolute;
    width: 70%;
    left:15%;
    right: 15%;
}
.main__container__elem
{

    background-color: rgba(60, 63, 65, 0.23);
    width: 100%;
    color: rgba(230, 248, 255, 1);
    border-color: #f1ffe6;
    border: medium;
    border-style: solid;
    height : 20%;
    text-align: center;
    font-size:5vw;
    border-radius:4vh;
    vertical-align: middle;

    /* padding-top: 4%;
     padding-bottom: 4%;*/
    margin-top: 1%;
    overflow:hidden;
    line-height: 16vh;
    font-style: normal;
    /*margin: auto;
    /*margin-top: 10%;
    margin-bottom:10% ;*/
}
.main__elem-text
{

    margin-top: 10%;
    margin-bottom: 10%;
}
.scoreboard__elem
{
    /* margin-left: 15%;
     margin-right: 15%;*/
    background-color: rgba(60, 63, 65, 0.23);
    /*width: 45%;*/
    color: rgba(230, 248, 255, 1);
    border-color: #f1ffe6;
    border: medium;
    border-style: solid;
    height : 20%;
    text-align: center;
    font-size:5vh;
    /*border-radius:4vh;*/
    vertical-align: middle;
    /* padding-top: 4%;
     padding-bottom: 4%;*/
    /*margin-top: 1%;*/
    overflow:hidden;
}
.scoreboard__table
{
    width: 80%;
    left: 10%;
    right: 10%;
    position: absolute;
}
.js-back
{
    float: left;
}
.login__form
{
    margin-left: 15%;
    margin-right: 15%;

    width: 70%;
    height:70%;
}
.login__form__input-field
{
    background-color: rgba(60, 63, 65, 0.23);
    color: rgba(230, 248, 255, 1);
    margin-left: 10%;
    margin-right: 10%;;
    width: 80%;
    height:15%;
    margin-top:2%;
    font-size: 7vh;
    border-radius:20px;
    text-align: center;
}
.registration__form__input-field
{
    background-color: rgba(60, 63, 65, 0.23);
    color: rgba(230, 248, 255, 1);
    margin-left: 10%;
    margin-right: 10%;;
    width: 80%;
    height:10%;
    margin-top:1%;
    font-size: 7vh;
    border-radius:0.1vh;
}

#game__canvas
{
    border-color: #E9DC51;
    border-style: solid;
    border-width: 2px;
    padding-left: 0;
    padding-right: 0;
    /*margin-left: auto;
    margin-right: auto*/;
    width:90%;
    top:10%;
    left:5%;
    right:5%;
    position:absolute;
    display: block; /*width: 95vw;*/
}

#form__error-block
{
    margin-top:2%;
    /*min-width: 500px*/;
    min-height: 100px;
    width:30vw;
    height:16vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: #000000;
    visibility: hidden;
    font-size: 5vh;
    background-color: rgba(255,255,255, 0.6);
    border-radius: 8px;
    text-align: center;

}

.form-submit
{
    margin-left: 10%;
     margin-right: 10%;;
    width: 80%;
    background-color: rgba(80,200,120, 0.4);
    -moz-border-radius:28px;
    -webkit-border-radius:28px;
    border-radius:20px;
    border:1px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#FFFFFF;
    text-decoration:none;
    text-shadow:0px 1px 0px #2f6627;
}
.registration__form__submit
{
    height:8%;
    margin-top:2%;
    font-size: 7vh;
}
.login__form__submit
{
    height:15%;
    margin-top:5%;
    font-size: 7vh;

}
.login__form__submit:hover, .registration__form__submit:hover
{
    background-color:rgba(92,191,42, 0.4);
}
.login__form__submit:active, .registration__form__submit:active
{
    position:relative;
    top:1px;
}